apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  admin.enabled: "false"  # disable built-in admin account
  exec.enabled: "true"  # enable exec plugin support
  # This allows ArgoCD to use Helm charts as applications
  kustomize.buildOptions: "--enable-helm --load-restrictor LoadRestrictionsNone"

  # Used for Github authentication
  dex.config: |
    connectors:
    - type: github
      id: github
      name: GitHub
      config:
        clientID: $github-auth-secrets:dex.github.clientID
        clientSecret: $github-auth-secrets:dex.github.clientSecret
  resource.exclusions: |
    - apiGroups:
      - cilium.io
      kinds:
      - CiliumIdentity
      clusters:
      - "*"
  # This is used so that ArgoCD "app-of-apps" application (such as my argocd-apps and media-apps) will be processed properly
  # I've since switched to using the ArgoCD ApplicationSet controller for all my apps, but leaving this here just in case
  resource.customizations: |
    argoproj.io/Application:
      health.lua: |
        hs = {}
        hs.status = "Progressing"
        hs.message = ""
        if obj.status ~= nil then
          if obj.status.health ~= nil then
            hs.status = obj.status.health.status
            if obj.status.health.message ~= nil then
              hs.message = obj.status.health.message
            end
          end
        end
        return hs
  # This is needed because ArgoCD v3.0 introduced something new that resulted in preserveUnknownFields being flagged as out-of-sync.
  resource.customizations.ignoreDifferences.apiextensions.k8s.io_CustomResourceDefinition: |
    jsonPointers:
    - "/spec/preserveUnknownFields"