---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: adguard-sync
  namespace: adguard
spec:
  serviceName: adguard-sync
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: adguard-sync
  template:
    metadata:
      labels:
        app: adguard-sync
        name: adguard-sync
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      restartPolicy: Always
      automountServiceAccountToken: false
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: DoesNotExist
      containers:
      - name: adguard-sync
        image: ghcr.io/bakito/adguardhome-sync:v0.7.0
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          runAsNonRoot: true
          runAsUser: 1000
          runAsGroup: 100
          seccompProfile:
            type: RuntimeDefault
          capabilities:
            drop: ["ALL"]
        command: ["/opt/go/adguardhome-sync","run"]
        resources:
          requests:
            cpu: 1m
            memory: 25Mi
          limits:
            # cpu: 60m
            memory: 60Mi
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "100"
        - name: ORIGIN_URL
          value: "http://adguard-web:3000"
        - name: ORIGIN_USERNAME
          valueFrom:
            secretKeyRef:
              name: adguard-creds
              key: username
        - name: ORIGIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: adguard-creds
              key: password
        - name: REPLICA1_URL
          value: "https://adguard-rpi1.ucdialplans.com"
        - name: REPLICA1_USERNAME
          valueFrom:
            secretKeyRef:
              name: adguard-creds
              key: username
        - name: REPLICA1_PASSWORD
          valueFrom:
            secretKeyRef:
              name: adguard-creds
              key: password
        - name: REPLICA2_URL
          value: "https://adguard-rpi2.ucdialplans.com"
        - name: REPLICA2_USERNAME
          valueFrom:
            secretKeyRef:
              name: adguard-creds
              key: username
        - name: REPLICA2_PASSWORD
          valueFrom:
            secretKeyRef:
              name: adguard-creds
              key: password
        - name: REPLICA3_URL
          value: "http://cloud-adguard-egress:3000"
        - name: REPLICA3_USERNAME
          valueFrom:
            secretKeyRef:
              name: adguard-creds
              key: username
        - name: REPLICA3_PASSWORD
          valueFrom:
            secretKeyRef:
              name: adguard-creds
              key: password
        - name: CRON
          value: "*/5 * * * *" 
        - name: LOG_LEVEL
          value: "info" 
        - name: TZ
          value: "America/Toronto"
      dnsConfig:
        options:
          - name: ndots
            value: "1"
