---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: sabnzbd
  namespace: media-tools
spec:
  serviceName: sabnzbd
  replicas: 1
  revisionHistoryLimit: 2
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: sabnzbd
  template:
    metadata:
      labels:
        app: sabnzbd
        name: sabnzbd
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      restartPolicy: Always
      automountServiceAccountToken: false
      priorityClassName: medium-priority
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: DoesNotExist
              - key: kubernetes.io/arch
                operator: In
                values: 
                - "amd64"
      containers:
      - name: sabnzbd
        image: docker.io/linuxserver/sabnzbd:4.4.1
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          seccompProfile:
            type: RuntimeDefault
          capabilities:
            drop: ["ALL"]
            add:
            - "CHOWN"
            - "SETGID"
            - "SETUID"
            - "DAC_OVERRIDE"
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "100"
        - name: TZ
          value: "America/Toronto"
        resources:
          requests:
            cpu: 2m
            memory: 100Mi
          limits:
            # cpu: 1000m
            memory: 2.0Gi  # Don't go below this. Even though it looks like its not using memory, the pod will get OOMKilled as soon as there's any load.
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 15
          periodSeconds: 60
          timeoutSeconds: 5
        volumeMounts:
        - name: sabnzbd-config
          mountPath: /config
        - name: media-downloads
          mountPath: /downloads
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      volumes:
        - name: sabnzbd-config
          persistentVolumeClaim:
            claimName: longhorn-sabnzbd-config-pvc
        - name: media-downloads
          persistentVolumeClaim:
            claimName: nfs-media-downloads