apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: cilium
  repo: https://helm.cilium.io/
  version: 1.18.4
  releaseName: cilium
  namespace: cilium
  valuesFile: values.yaml
  apiVersions:
  - gateway.networking.k8s.io/v1/GatewayClass
resources:
- ../../base
- bgp-config.yaml
- gateway.yaml
- httproute-redirect.yaml
- letsencrypt-wildcard.yaml