---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prefetcharr-config
  namespace: media
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: akeyless
    kind: ClusterSecretStore
  target:
    name: prefetcharr-config
    template:
      engineVersion: v2
      data:
        config: |
          interval = 900           # Polling interval in seconds
          log_dir = "/log"         # Logging directory
          log_level = "Debug"      # `Trace`, `Debug`, `Info`, `Warn` or `Error`
          prefetch_num = 2         # Number of episodes to make available in advance
          request_seasons = true   # Always request full seasons to prefer season packs
          connection_retries = 6   # Number of retries for the initial connection probing

          [media_server]
          type = "Tautulli"                       # `Jellyfin`, `Emby`, `Plex` or `Tautulli`
          url = "http://tautulli-service:8181"    # Jellyfin/Emby/Plex/Tautulli baseurl
          api_key = "{{ .tautulliApiKey }}"        # Jellyfin/Emby/Tautulli API key or plex server token
          # users = [ "John", "12345", "Axel F" ] # Optional: Only monitor sessions for specific user IDs or names
          # libraries = [ "TV Shows", "Anime" ]   # Optional: Only monitor sessions for specific libraries

          [sonarr]
          url = "http://sonarr-service:8989"  # Sonarr baseurl
          api_key = "{{ .sonarrApiKey }}"      # Sonarr API key
          # exclude_tag = "no_prefetch"       # Optional: Exclude series by tag
  data:
  - secretKey: sonarrApiKey
    remoteRef:
      key: /media-app-apikeys
      property: sonarr
  - secretKey: tautulliApiKey
    remoteRef:
      key: /media-app-apikeys
      property: tautulli