apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: prefetcharr
  namespace: media
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: prefetcharr
  egress:
    - toEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
    - toEndpoints:
        - matchLabels:
            app.kubernetes.io/name: sonarr
      toPorts:
        - ports:
            - port: "8989"
    - toEndpoints:
        - matchLabels:
            app.kubernetes.io/name: tautulli
      toPorts:
        - ports:
            - port: "8181"
