image:
  repository: vaultwarden/server
  tag: 1.35.2
  registry: docker.io
priorityClassName: medium-priority
extraLabels:
  cnpg-client: "true"
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 0
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop: ["ALL"]
env:
- name: TZ
  value: "America/Toronto"
envFrom:
- configMapRef:
    name: env-vars
- secretRef:
    name: env-secrets
resources:
  requests:
    cpu: 1m
    memory: 60Mi
  limits:
    # cpu: 200m
    memory: 250Mi
service:
  port: 8087
livenessProbe:
  httpGet:
    path: /alive
    port: http
  initialDelaySeconds: 30
  timeoutSeconds: 5
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 10