---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgresql-passwords
  namespace: cnpg
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: akeyless
    kind: ClusterSecretStore
  target:
    name: postgresql-passwords
  data:
  - secretKey: postgresql-admin-pw
    remoteRef:
      key: /postgresql/superuser
      property: password

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pgadmin-config
  namespace: cnpg
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: akeyless
    kind: ClusterSecretStore
  target:
    name: pgadmin-connstring
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        PGADMIN_CONFIG_CONFIG_DATABASE_URI: "postgresql://{{ .db_user }}:{{ .db_pass }}@home-rw:5432/{{ .db_user }}"
  data:
  - secretKey: db_user
    remoteRef:
      key: /database/pgadmin
      property: username
  - secretKey: db_pass
    remoteRef:
      key: /database/pgadmin
      property: password

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: s3-backup-cloudflare-pgadmin
  namespace: cnpg
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: akeyless
    kind: ClusterSecretStore
  target:
    template:
      engineVersion: v2
      data:
        AWS_ACCESS_KEY_ID: "{{ .awsAccessKeyID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .awsSecretAccessKey }}"
        RESTIC_PASSWORD: "{{ .resticPassword }}"
        RESTIC_REPOSITORY: "{{ .resticRepository }}/pgadmin"
  data:
  - secretKey: awsAccessKeyID
    remoteRef:
      key: /s3/cloudflare
      property: AWS_ACCESS_KEY_ID
  - secretKey: awsSecretAccessKey
    remoteRef:
      key: /s3/cloudflare
      property: AWS_SECRET_ACCESS_KEY
  - secretKey: resticRepository
    remoteRef:
      key: /s3/cloudflare
      property: RESTIC_REPOSITORY
  - secretKey: resticPassword
    remoteRef:
      key: /s3/cloudflare
      property: RESTIC_PASSWORD