---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: postgresql-passwords
  namespace: cnpg
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: akeyless
    kind: ClusterSecretStore
  target:
    name: postgresql-passwords
  data:
  - secretKey: postgresql-admin-pw
    remoteRef:
      key: /postgresql/superuser
      property: password

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pgadmin-config
  namespace: cnpg
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: akeyless
    kind: ClusterSecretStore
  target:
    name: pgadmin-config
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        PGADMIN_CONFIG_CONFIG_DATABASE_URI: '"postgresql://{{ .db_user }}:{{ .db_pass }}@home-rw:5432/{{ .db_user }}"'
        PGADMIN_DEFAULT_EMAIL: "ken.lasko@gmail.com"
        PGADMIN_SETUP_EMAIL: "ken.lasko@gmail.com"
        PGADMIN_SETUP_PASSWORD: "{{ .default_password }}"
        PGADMIN_CONFIG_OAUTH2_CONFIG: |
          [{
            'OAUTH2_NAME' : 'pocketid',
            'OAUTH2_DISPLAY_NAME' : 'Pocket ID',
            'OAUTH2_CLIENT_ID' : '{{ .oauth_client_id }}',
            'OAUTH2_CLIENT_SECRET' : '{{ .oauth_client_secret }}',
            'OAUTH2_TOKEN_URL' : 'https://auth.ucdialplans.com/api/oidc/token',
            'OAUTH2_AUTHORIZATION_URL' : 'https://auth.ucdialplans.com/authorize',
            'OAUTH2_API_BASE_URL' : 'https://auth.ucdialplans.com',
            'OAUTH2_USERINFO_ENDPOINT' : 'https://auth.ucdialplans.com/api/oidc/userinfo',
            'OAUTH2_SERVER_METADATA_URL' : 'https://auth.ucdialplans.com/.well-known/openid-configuration',
            'OAUTH2_SCOPE' : 'openid email profile',
            'OAUTH2_ICON' : 'fa-openid',
            'OAUTH2_BUTTON_COLOR' : '#fd4b2d'
          }]
  data:
  - secretKey: db_user
    remoteRef:
      key: /database/pgadmin
      property: username
  - secretKey: db_pass
    remoteRef:
      key: /database/pgadmin
      property: password
  - secretKey: default_password
    remoteRef:
      key: /postgresql/superuser
      property: password
  - secretKey: oauth_client_id
    remoteRef:
      key: /pgadmin
      property: OAUTH2_CLIENT_ID
  - secretKey: oauth_client_secret
    remoteRef:
      key: /pgadmin
      property: OAUTH2_CLIENT_SECRET

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: s3-backup-cloudflare-pgadmin
  namespace: cnpg
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: akeyless
    kind: ClusterSecretStore
  target:
    template:
      engineVersion: v2
      data:
        AWS_ACCESS_KEY_ID: "{{ .awsAccessKeyID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .awsSecretAccessKey }}"
        RESTIC_PASSWORD: "{{ .resticPassword }}"
        RESTIC_REPOSITORY: "{{ .resticRepository }}/pgadmin"
  data:
  - secretKey: awsAccessKeyID
    remoteRef:
      key: /s3/cloudflare
      property: AWS_ACCESS_KEY_ID
  - secretKey: awsSecretAccessKey
    remoteRef:
      key: /s3/cloudflare
      property: AWS_SECRET_ACCESS_KEY
  - secretKey: resticRepository
    remoteRef:
      key: /s3/cloudflare
      property: RESTIC_REPOSITORY
  - secretKey: resticPassword
    remoteRef:
      key: /s3/cloudflare
      property: RESTIC_PASSWORD