image:
  repository: esphome/esphome
  tag: 2026.1.1
  registry: ghcr.io
priorityClassName: medium-priority
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop: ["ALL"]
    add:
    - "NET_RAW"
env:
- name: ESPHOME_DASHBOARD_USE_PING
  value: "true"
- name: TZ
  value: "America/Toronto"
resources:
  requests:
    cpu: 1000m
    memory: 100Mi
service:
  port: 6052
readinessProbe:
  tcpSocket:
    port: http
  initialDelaySeconds: 5
  timeoutSeconds: 1
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 3
persistentVolume:
  type: nfs
  size: 2Gi
oidc:
  enabled: true
  secretName: env-secrets-esphome