apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
helmCharts:
- name: descheduler
  repo: https://kubernetes-sigs.github.io/descheduler/
  version: 0.35.0
  releaseName: descheduler
  namespace: kube-system
  valuesFile: ../../base/values.yaml
  additionalValuesFiles:
  - values.yaml
  valuesMerge: merge