apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: portainer
  namespace: portainer
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: portainer
  ingress:
    - fromEntities:
        - ingress
        - remote-node
      toPorts:
        - ports:
            - port: "9000"
  egress:
    - toEntities:
        - ingress
        - remote-node
        - world
      toPorts:
        - ports:
            - port: "443"
              protocol: TCP
    - toCIDRSet:
        - cidr: 0.0.0.0/0
      toPorts:
        - ports:
            - port: "80"
              protocol: TCP
            - port: "443"
              protocol: TCP
            - port: "9001"
              protocol: TCP
    - toEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
          rules:
            dns:
              - matchPattern: "*"