apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: kite
  repo: https://zxh326.github.io/kite
  version: 0.7.7
  releaseName: kite
  namespace: kube-system
  valuesFile: ../../base/values.yaml
resources:
- ../../base