apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: adguard
helmGlobals:
  chartHome: ../../../../../helm
helmCharts:
- name: baseline
  releaseName: adguard
  namespace: adguard
  valuesFile: ../../base/values.yaml
  additionalValuesFiles:
  - values.yaml
  valuesMerge: merge
resources:
- ../../base
- backup.yaml
- external-secrets.yaml
- service.yaml
- volume.yaml