hostNetwork: true
affinity: false
extraVolumes:
- name: adguard-conf
  persistentVolumeClaim:
    claimName: adguard-conf
- name: adguard-work
  persistentVolumeClaim:
    claimName: adguard-work
- name: dns-wildcard-cert
  secret:
    secretName: letsencrypt-dns-wildcard-cert
extraVolumeMounts:
- name: adguard-conf
  mountPath: /opt/adguardhome/conf
- name: adguard-work
  mountPath: /opt/adguardhome/work
- name: dns-wildcard-cert
  mountPath: /etc/certs
service:
  port: 3000
  annotations:
    tailscale.com/expose: "true"
    tailscale.com/hostname: "cloud-adguard"
    tailscale.com/proxy-class: "default"
disableHTTPRoute: true