# General settings
appKind: StatefulSet  # Select either "Deployment" or "StatefulSet"
nameOverride: ""
replicas: 1
revisionHistoryLimit: 2
dnsPolicy: ClusterFirstWithHostNet
hostNetwork: false
restartPolicy: Always
autoMountServiceAccountToken: false
serviceAccountName: ""
priorityClassName: low-priority

# Enable or disable Stakater Reloader for this application (restarts pods when config maps or secrets change)
reloaderEnabled: "true"

# Image settings
image:
  repository: ""  # Specify the image repository, e.g., "adguard/adguardhome"
  tag: "latest"   # Specify the image tag, e.g., "v0.107.62"
  registry: ""    # Specify the image registry, e.g., "docker.io"
  pullPolicy: IfNotPresent

extraLabels: {}

extraAnnotations: {}

securityContext: {}

# If env: is not defined, will apply the default environment variables
env: []
# - name: PUID
#   value: "1000"
# - name: PGID
#   value: "100"
# - name: TZ
#   value: "America/Toronto"
envFrom: []

# Resource resize policy
# Options include NotRequired, RestartContainer
resizePolicy:
  cpu: NotRequired
  memory: NotRequired

# Resource requests and limits
resources: {}

# Service settings
service: {}
  # port: 80
  # type: ClusterIP
  # externalTrafficPolicy: ""

  # # Additional labels to add to the service
  # extraLabels: {}

  # # Annotations to add to the service
  # annotations: {}


# Extra ports to assign to the service
extraPorts: []

# Create a Tailscale external name service for connecting to the cloud k8s cluster
tailscale: {}
  # name: ""

# HTTPRoute settings
disableHTTPRoute: false
httpRouteNameOverride: ""
httpRouteFilters: []

# Optional command and args for the container
command: []
args: []

# A default livenessProbe will be created if not specified
livenessProbe: {}
#   httpGet:
#     path: /
#     port: http
#   initialDelaySeconds: 15
#   periodSeconds: 60
#   timeoutSeconds: 5

startupProbe: {}
readinessProbe: {}

persistentVolume: {}
# persistentVolume:
#   type: ""  # Select either "nfs" or "longhorn"
#   size: "1Gi"
#   mountPath: "/config"
#   name: ""  # Override the default name of the volume


# Mount an existing PVC for access to NAS media files
media:
  enabled: false
  claimName: "nfs-media"

# Extra volume mounts and volumes
extraVolumeMounts: []
# - name: yourName
#   mountPath: yourMountPath

extraVolumes: []
# - name: yourName
#   persistentVolumeClaim:
#     claimName: yourClaim

backup: {}
  # location: (nas01|cloudflare|oracle|backblaze)
  # copyMethod: (Clone|Direct|Snapshot)
  # retentionPolicy:
  #   hourly: 6
  #   daily: 5
  #   weekly: 4
  #   monthly: 2
  #   yearly: 0
  # schedule: "0 3 * * *"
  # claimName: Defaults to default claim name, but can be overridden

affinity: {}
