fullnameOverride: alloy

alloy:
  configMap: 
    create: true
    content: |
      logging {
        level = "info"
      }

      loki.write "default" {
        endpoint {
          url = "http://loki:3100/loki/api/v1/push"
        }
      }

      loki.source.kubernetes "pods" {
        targets {
          role = "pod"
        }

        forward_to = [loki.write.default.receiver]
      }

      prometheus.exporter.unix "node" {
      }

      prometheus.scrape "node" {
        targets    = prometheus.exporter.unix.node.targets
        forward_to = [prometheus.remote_write.noop.receiver]
      }

      prometheus.remote_write "noop" {
        endpoint {
          url = "http://127.0.0.1"
        }
      }
  mounts:
    varlog: true