---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ups-creds
  namespace: homeops
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: akeyless
    kind: ClusterSecretStore
  target:
    name: ups-creds
  dataFrom:
  - extract:
      key: /ups-monitor