image:
  repository: mealie-recipes/mealie
  tag: v3.11.0
  registry: ghcr.io
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 0
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop: ["ALL"]
envFrom:
- configMapRef:
    name: env-vars
- secretRef:
    name: mealie-secrets
- secretRef:
    name: env-secrets
resources:
  requests:
    cpu: 100m
    memory: 300Mi
  limits:
    memory: 500Mi
service:
  port: 9000
extraHTTPRouteHostnames:
- recipes.ucdialplans.com
persistentVolume:
  type: nfs
  size: 450Mi
  mountPath: /app/data
backup:
  location: cloudflare 
  schedule: "20 7 * * *"
