---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: daily
spec:
  cluster:
    name: home
  immediate: true
  schedule: "0 0 7 * * *" # Every Monday at 07:00 UTC
  backupOwnerReference: self
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io