apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: home
  namespace: cnpg
spec:
  # Use ghcr.io/cloudnative-pg/postgresql:18.1-minimal-trixie for basic usage
  # Use ghcr.io/tensorchord/cloudnative-vectorchord:18.1 for vchord (Immich)
  # Use kenlasko/cloudnativepg-gis-vchord:18.1-vc1.0.0-1 for vchord (Immich) and GIS (Dawarich)
  imageName: ghcr.io/cloudnative-pg/postgresql:18.1-minimal-trixie
  instances: 3
  storage:
    storageClass: local-storage
    size: 15Gi
  primaryUpdateStrategy: unsupervised
  switchoverDelay: 30
  resources:
    requests:
      cpu: 10m
      memory: 250Mi
    limits:
      memory: 2Gi
  enableSuperuserAccess: true
  superuserSecret:
    name: postgresql-superuser
  certificates:
    serverAltDNSNames:
    - "home-postgresql.tailb7050.ts.net"
    - "home-postgresql"
    - "home-postgresql.svc.cluster.local"
  bootstrap:
    recovery:
    # Need to also enable the `patch-recovery.yaml` when restoring from backup
    # Pick either `source` or `backup` method below depending on whether the namespace still exists and has the backup object
    # Typically, its simpler to just use the S3 backup source.
      source: s3-backupsource
    # If the namespace still exists and there is a backup object, we can just restore using the below method:
      # backup:
      #   name: daily-20250514170109
    # If you want to restore to a specific point in time, use the below additional setting:
      # recoveryTarget:
      #   targetTime: "2025-12-11 17:45:00.000000+00:00"
  externalClusters:
  - name: s3-backupsource
    plugin:
      name: barman-cloud.cloudnative-pg.io
      enabled: true
      isWALArchiver: true
      parameters:
        barmanObjectName: backblaze

  postgresql:
    parameters:
      wal_keep_size: "3GB"
      max_connections: "200"
      superuser_reserved_connections: "12"
    shared_preload_libraries: []

  # This enables backups to S3 storage
  plugins:
  - name: barman-cloud.cloudnative-pg.io
    enabled: true
    isWALArchiver: true
    parameters:
      barmanObjectName: backblaze

  managed:
    roles:
    - name: authentik
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-authentik
    - name: dispatcharr
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-dispatcharr
    - name: firefly
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-firefly
    - name: homeassist
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-homeassist
    - name: immich
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-immich
    - name: kite
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-kite
    - name: mealie
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-mealie
    - name: nextcloud
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-nextcloud
    - name: paperless
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-paperless
    - name: pgadmin
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-pgadmin
    - name: pocketid
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-pocketid
    - name: prowlarr
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-prowlarr
    - name: radarr
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-radarr
    - name: seerr
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-seerr
    - name: sonarr
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-sonarr
    - name: tandoor
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-tandoor
    - name: ucdialplans
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-ucdialplans
    - name: vaultwarden
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-vaultwarden

    services:
      additional:
      - selectorType: rw
        updateStrategy: patch
        serviceTemplate:
          metadata:
            name: "postgresql-service"
            annotations:
              tailscale.com/expose: "true"
              tailscale.com/hostname: "home-postgresql"
              tailscale.com/proxy-class: "default"
          spec:
            type: LoadBalancer
