apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: home
  namespace: cnpg
spec:
  # Use ghcr.io/cloudnative-pg/postgresql:17.6-standard-trixie for basic usage
  # Use ghcr.io/tensorchord/cloudnative-vectorchord:17.6-0.3.0 for vchord (Immich)
  # Use kenlasko/cloudnativepg-gis-vchord:17.6-vc0.4.2-1 for vchord (Immich) and GIS (Dawarich)
  imageName: ghcr.io/cloudnative-pg/postgresql:17.6-minimal-trixie
  instances: 3
  storage:
    storageClass: local-storage
    size: 15Gi
  resources:
    requests:
      cpu: 10m
      memory: 250Mi
    limits:
      memory: 2Gi
  enableSuperuserAccess: true
  superuserSecret:
    name: postgresql-superuser
  certificates:
    serverAltDNSNames:
    - "home-postgresql.tailb7050.ts.net"
    - "home-postgresql"
    - "home-postgresql.svc.cluster.local"
  bootstrap:
    recovery:
      source: s3-backupsource
  externalClusters:
  - name: s3-backupsource
    plugin:
      name: barman-cloud.cloudnative-pg.io
      enabled: true
      isWALArchiver: true
      parameters:
        barmanObjectName: backblaze

  postgresql:
    parameters:
      wal_keep_size: "1GB"
    shared_preload_libraries: []

  # This enables backups to S3 storage
  plugins:
  - name: barman-cloud.cloudnative-pg.io
    enabled: true
    isWALArchiver: true
    parameters:
      barmanObjectName: backblaze
 
  managed:
    roles:
    - name: authentik
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-authentik
    - name: firefly
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-firefly
    - name: homeassist
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-homeassist
    - name: immich
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-immich
    - name: kite
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-kite
    - name: nextcloud
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-nextcloud
    - name: paperless
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-paperless
    - name: prowlarr
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-prowlarr
    - name: radarr
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-radarr
    - name: sonarr
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-sonarr
    - name: ucdialplans
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-ucdialplans
    - name: vaultwarden
      ensure: present
      login: true
      superuser: false
      inherit: false
      connectionLimit: -1
      passwordSecret:
        name: useraccount-vaultwarden

    services:
      additional:
      - selectorType: rw
        updateStrategy: patch
        serviceTemplate:
          metadata:
            name: "postgresql-service"
            annotations:
              tailscale.com/expose: "true"
              tailscale.com/hostname: "home-postgresql"
              tailscale.com/proxy-class: "default"
          spec:
            type: LoadBalancer
