apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cnpg
helmCharts:
- name: cloudnative-pg
  repo: https://cloudnative-pg.github.io/charts
  version: 0.27.0
  releaseName: postgresql
  namespace: cnpg
  valuesFile: ../../base/values.yaml

resources:
- ../../base
- backup.yaml
- cluster-home.yaml
# - cluster-standby.yaml
- cronjob-akeyless-update.yaml
- cronjob-pgdump.yaml
- database.yaml
- external-secrets.yaml
- podmonitor.yaml
# - pooler.yaml
- service.yaml
- serviceaccount.yaml
- volume.yaml

configMapGenerator:
- name: update-akeyless-script
  files:
  - ../../scripts/update-cloud-certs.sh
  options:
    disableNameSuffixHash: true

# Only enable this patch when restoring from backup
patches:
- target:
    group: ""
    version: v1
    kind: Cluster
    name: home
  path: patch-recovery.yaml