# This patch file is used to enable recovery for a CNPG (CloudNativePG) cluster.
# It modifies the cluster configuration to include recovery settings and adjusts
# certain parameters to facilitate the restoration process.

# This needs to be false during restore, true otherwise
- op: add
  path: /spec/externalClusters/0/plugin/isWALArchiver
  value: false

# Need to disable this entire section when restoring from backup to avoid conflicts. Not enough to set enabled or isWALArchiver to false
- op: replace
  path: "/spec/plugins"
  value: []