# This patch file is used to enable recovery for a CNPG (CloudNativePG) cluster.
# It modifies the cluster configuration to include recovery settings and adjusts
# certain parameters to facilitate the restoration process.

- op: add
  path: /spec/bootstrap/recovery
  value: 
  # Pick either source or backup method below depending on whether the namespace still exists and has the backup object
  # Typically, its simpler to just use the S3 backup source.
    source: s3-backupsource
  # If the namespace still exists and there is a backup object, we can just restore using the below method:
    # backup:
    #   name: daily-20250514170109
  # If you want to restore to a specific point in time, use the below additional setting:
    # recoveryTarget:
    #   targetTime: "2025-10-10 15:00:00.000000+00:00"

# This needs to be false during restore, true otherwise
- op: add
  path: /spec/externalClusters/0/plugin/isWALArchiver
  value: false

# Need to disable this entire section when restoring from backup to avoid conflicts. Not enough to set enabled or isWALArchiver to false
- op: replace
  path: "/spec/plugins"
  value: []