apiVersion: postgresql.cnpg.io/v1
kind: Pooler
metadata:
  name: pooler-home-rw
  namespace: cnpg
spec:
  cluster:
    name: home
  instances: 3
  type: rw
  serviceTemplateSpec:
    metadata:
      name: "postgresql-service"
      annotations:
        tailscale.com/expose: "true"
        tailscale.com/hostname: "home-postgresql"
        tailscale.com/proxy-class: "default"
  pgbouncer:
    poolMode: session
    parameters:
      max_client_conn: "200"
      default_pool_size: "10"
