apiVersion: postgresql.cnpg.io/v1
kind: Pooler
metadata:
  name: pooler-home-rw
  namespace: cnpg
spec:
  cluster:
    name: home
  instances: 3
  type: rw
  pgbouncer:
    poolMode: session
    parameters:
      max_client_conn: "200"
      default_pool_size: "10"
