image:
  repository: redis
  tag: 8.4.0
  registry: docker.io
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  runAsNonRoot: false
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop: ["ALL"]
env:
- name: REDIS_PASSWORD
  valueFrom:
    secretKeyRef:
      name: redis-password
      key: password
args: ["--requirepass", "$(REDIS_PASSWORD)"]
resources:
  requests:
    cpu: 10m
    memory: 40Mi
  limits:
    memory: 1.5Gi
service:
  port: 6379
livenessProbe: false
disableHTTPRoute: true