apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: adguard
helmGlobals:
  chartHome: ../../../../../helm
helmCharts:
- name: baseline
  releaseName: adguard
  namespace: adguard
  valuesFile: ../../base/values.yaml
  additionalValuesFiles:
  - values-adguard.yaml
  valuesMerge: merge
- name: baseline
  releaseName: adguard-sync
  namespace: adguard
  valuesFile: values-adguard-sync.yaml
resources:
- ../../base
- networkpolicy.yaml
- service.yaml