apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# Don't want to apply namespace from base, but if I don't, then several resources don't get the namespace because they are missing in the template
# Opened a ticket for this: https://github.com/nextcloud/helm/issues/791
namespace: nextcloud
helmCharts:
- name: nextcloud
  repo: https://nextcloud.github.io/helm/
  version: 8.5.10
  releaseName: nextcloud
  namespace: nextcloud # This should be sufficient to set the namespace for all resources, but only if the namespace is explicitly defined in all templates
  valuesFile: values.yaml
resources:
- backup.yaml
# - database.yaml
- external-secrets.yaml
- httproute.yaml
- namespace.yaml
- volume.yaml
patches:
- path: deploy-patch-collabora.yaml
  target:
    group: apps
    version: v1
    kind: Deployment
    name: nextcloud-collabora
- path: deploy-patch-nextcloud.yaml
  target:
    group: apps
    version: v1
    kind: Deployment
    name: nextcloud