fullnameOverride: cnpg-controller
podLabels:
  app.kubernetes.io/component: database
monitoring:
  podMonitorEnabled: true
  grafanaDashboard:
    create: true
    namespace: monitoring
resources:
  requests:
    cpu: 3m
    memory: 40Mi
  limits:
    memory: 80Mi
