---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: plex-claim-token
  namespace: media
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: akeyless
    kind: ClusterSecretStore
  target:
    name: plex-claim-token
  data:
  - secretKey: plex-claim-token
    remoteRef:
      key: /media-app-apikeys
      property: plex-claim-token
