global:
  domain: argocd.ucdialplans.com
  env:
  - name: TZ
    value: "America/Toronto"
  affinity:
    nodeAffinity:
      type: hard
      matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: DoesNotExist
      - key: kubernetes.io/arch
        operator: In
        values: 
        - 'amd64'
  networkPolicy:
    create: false
    defaultDenyIngress: false
server:
  service:
    annotations:
      omni-kube-service-exposer.sidero.dev/port: "50104"
      omni-kube-service-exposer.sidero.dev/label: ArgoCD
      omni-kube-service-exposer.sidero.dev/icon: |
        H4sICDMIJ2YAA0FyZ28gQ0Quc3ZnAK1ZyW4cORK9z1cQ1RhgfEiKO5mG5UP7MDqMgQEa0/dSqja7
        rBKqJMvtr58XEcytrMUNGEIlyWQw4jEYG1PvTl836tuX/e3pcrG9v797e3Hx+PioH70+HDcXzhhz
        AYqFkLz9tt/dfn6K0LZte8GzC/V1t3r8/fDtcmGUUdYV+i3ev7tZrU/v33X73d1/l/dbtbu5XCyP
        m0N30xyOu83udrlvViC7o0nMfQxOBbsN4Wu0V8F9/wJui4v37y56Dq/wupnywtotUHzF78p8/zts
        ul/DZj1lU6JObcTutPV+3zgdo4pFO1+uQtClZHpnXWzk5d+Rc/3TcL8sT5+fZLEHi41a7/b3q+Pl
        4uG4/9dv5yTLNy+IoaX75nC37Hb3f10utIuWRW/wI6EviN7+atHuZyV/+sWSozkXvXlS7m6h6Ega
        4vuM3OuZXJhEKEV5AxFl6XSbg5InfM02UbehNNoYr+ZzxvIUzYgrMeLLxW/r65t153uwT6PcvI6y
        m6EsQQfnVIraJ38iA28cnt42ukTXeKuNtx9y1hZ+YFsdolfJaW+Tckbn+eBUdFRe+7ZVRbcuKZu0
        jb6DiFTfGAX21sShM9/jyoeVv355j59f3+PNfI9e2xBVa3RJ+c+Sdcgd6V+wlsZiC65VSaPb4hQy
        d7EXg/NobCAVNF4XF2g+QkWY37PemMEpaV9ojWEVgUAGHTPGIdP2x5UDlQzOFNCmGAYFiJk/qYXl
        ojrB/25390gJh+tPq+7+98PD7c3udoOojkyAwP7PhfpLmsfdDenLGhpsV7vN9r6OIGf14bA/HD8u
        74+7b2p3e7n44/Bw7Fb/Pi7vtrsOmWK5f1idJFFwslDP92wN/wIPHcknY7oghUZVoIM2nGBnISsx
        PAqlihW9xDMEJU/yiYbcwymrHY4n4JRC6hue5iOg2XAiysw6p5cwY9vRhCdotSVJgUmox1aJRb4R
        9pP+9y++1RY7OhEfhqnOYMai5AkchpamEWWRB80AS44VIW/Gk3wyAUbI4tjcasvAmISFGl6TBNW0
        /5z5DOq2pmXPC5kCUYetwtdJ24YtNcARbMPP2ud56KSpQ6ZrpnRGaJziucBvTZqwwkCkYOuyRCjV
        KMekOfLr1K1XyzPkyKouT5DjzCw7aW69gh05iKOnrQMmIO3R0GShdP2IaT7gXTGtcl6bFhbW6mTY
        j1WCXSKSoduJIAJPS9RUoBJmZ2pP67guZ+ANog4MoCCyAjtFlogzQ0SEHXg0HuGVm37EJISex15o
        Uz+ShiyEyDzH1jLj4PsRU2TA78dEqmbC5vhvzKqszQx/cDqnSWIgu6as5KMaBiiAsDMKhBLiyLtg
        lZlzGpVF/IQPUzRt2dtgSWN3aw106bugUyYn5JYjba59epLxUzIS56HtW0Tr6eAE8YBldSrSA3PH
        0CiHySvGw+Ga8eeKjRxMIj1wj70tTjyXLrKmjeKWgcVpf193PIDgMI++hBbMxkBHD87i1iJZuEpC
        kUhAMCkZWMXam/a3Fik4RkCJzsteOJRANeA+7e9beBwcIsOi2zP7XOX2LCygtIWW6/EKjHq+42A8
        32Y8YIJVY6CEURwvJ/co4XHsXhXYkG27pp5vMznf5sfzbabanA1OTa/QVLPp7ISHQE5ROcCbWc17
        KkaA9SqXMeEbbuT0Jt19jaszcRXID2fJaqhWxNYQ5CzFL9hS8ZTTG3tXmSATjCglQeScJUc36f4n
        JgQblTHAITIdQpXPLQm3iJu+IdvMFVIjTT8CRWBV1zGTNnNS01OxjZ8xqCOmoAhSx62E+ynpcxa2
        ebU6W71Z/AzZelbEWeRWsr6II6Z4ioRScHwIba3PymddKP5R4/oRk3A85ddCW/pRpTVCFtVsVs2J
        Kompr9VUak/7nD74ZoHfw2ml+N79dntcrUHyRO1OF5BntLF9Q8xeZbJ7kcmnN7MYkOFQqSgKQMlD
        p5nSbSM+xLaWGwST2A9OPPLVhKWPEjezYxj2PTF4hJHMBbHqI7twlsA36c91Ziz9vYgwUAQQgMJG
        8HGf4Al+XECaYTq0AzqnyMUqPO72+Djgciwo0/7ZBWy9noFrHRiRQUqczBxCkO6QYqynNN9I048y
        xw3Db4sQ1n6lM5WEyiMnU2okKCKBylghZzI1kQG8DZJPJiefABqpJjwrnlzx5DgBNCIfEQ1gZXV6
        AlKZICo9oFeqU9wCDPQ1KDHqBM8NGuWLFAeNNP2I5wkzDQMT9v1KaJiGCoh+qi4eKGjeEWYZgjAl
        NRMDPeLeniyrcYA0UBEji0vuBFPuMfkJph78khurakMXltl8V3fFBBM8A5qXrDAiGqNQQxpMlj8z
        SIEWh88McfjIMM7wR4ZInx8Qx2mrqIjNUgo7eQ6rUX4Yq+ZTstzSeveqD1vYCK5HEYVBoQ8hxhAO
        Y2J/sRsqxT9RjZfEJEXJk0h0LFQcxODV+RS/bYhAnTMeS5T4FRCw046qGzocNk8umLGSypoYfhDK
        AjGN+zn8nIKQYRrB4Eca4fHDclpK874dd2VJj/Ssu0r9rpTrd+PbupvpK3rT4UaCEIaARocw4PZ1
        b0tE6JZKV3r2AIREPQlbtvbKDSxSxcWujLp4OdGomAeHUKPm742V198/+sCWmSl5Al+MVLXTs4JA
        YOFCiIoiK3d4jkqJasFAn5rqQL5ILZFnW7hJbcQKreF7k/X0kTYF2zesOw+7thSoSBGFS9eSfW8d
        notpehXqU/QWXF/fYgPeDA3d4htomw5MgqwHi5L7huY563C54B1/9up/fAkYC1XeN18+xk4J/NXi
        SW9/Ne9/fjHv7znv0/8H3v/j/4wU9exIGAAA
configs:
  params:
    server.insecure: true
  cm: 
    create: false # Don't create configmap because I do it separately via configmap.yaml
  repositories:
    argocd:
      url: https://argoproj.github.io/argo-helm
      name: argocd
      type: helm
    backube:
      url: https://backube.github.io/helm-charts
      name: backube
      type: helm
    bitnami:
      url: https://charts.bitnami.com/bitnami
      name: bitnami
      type: helm
    cert-manager:
      url: https://charts.jetstack.io
      name: jetstack
      type: helm
    cilium:
      url: https://helm.cilium.io
      name: cilium
      type: helm
    cloudcasa:
      url: https://catalogicsoftware.github.io/cloudcasa-helmchart
      name: cloudcasa-repo
      type: helm
    cloudnative-pg:
      url: https://cloudnative-pg.github.io/charts
      name: cnpg
      type: helm
    coroot:
      url: https://coroot.github.io/helm-charts
      name: coroot
      type: helm
    crowdsec:
      url: https://crowdsecurity.github.io/helm-charts
      name: crowdsec
      type: helm
    csi-driver-nfs:
      url: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
      name: csi-driver-nfs
      type: helm
    descheduler:
      url: https://kubernetes-sigs.github.io/descheduler
      name: descheduler
      type: helm
    fairwinds:
      url: https://charts.fairwinds.com/stable
      name: vpa
      type: helm
    falco-security:
      url: https://falcosecurity.github.io/charts
      name: falcosecurity
      type: helm
    fluentbit:
      url: https://fluent.github.io/helm-charts
      name: fluent
      type: helm
    geek-cookbook:
      url: https://geek-cookbook.github.io/charts
      name: geek-cookbook
      type: helm
    gitea:
      url: https://dl.gitea.com/charts
      name: gitea
      type: helm
    grafana:
      url: https://grafana.github.io/helm-charts
      name: grafana
      type: helm
    headlamp:
      url: https://headlamp-k8s.github.io/headlamp
      name: headlamp
      type: helm
    intel:
      url: https://intel.github.io/helm-charts
      name: intel
      type: helm
    keel:
      url: https://keel-hq.github.io/keel
      name: keel
      type: helm
    kubelet-serving-cert-approver:
      url: https://github.com/alex1989hu/kubelet-serving-cert-approver.git
      name: kubelet-serving-cert-approver
      type: git
    longhorn:
      url: https://charts.longhorn.io
      name: longhorn
      type: helm
    mariadb-operator:
      url: https://mariadb-operator.github.io/mariadb-operator
      name: mariadb-operator
      type: helm
    metrics-server:
      url: https://kubernetes-sigs.github.io/metrics-server/
      name: metrics-server
      type: helm
    neuvector:
      url: https://neuvector.github.io/neuvector-helm
      name: neuvector
      type: helm
    nfs:
      url: https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner
      name: nfs-subdir-external-provisioner
      type: helm
    portainer:
      url: https://portainer.github.io/k8s/
      name: portainer
      type: helm
    promstack:
      url: https://prometheus-community.github.io/helm-charts
      name: promstack
      type: helm
    sealed-secrets-web:
      url: https://charts.bakito.net
      name: sealed-secrets-web
      type: helm
    superset:
      url: https://apache.github.io/superset
      name: superset
      type: helm
    tailscale-operator:
      url: https://jacobcolvin.com/helm-charts
      name: tailscale-operator
      type: helm
    tailscale:
      url: https://pkgs.tailscale.com/helmcharts
      name: tailscale
      type: helm
    uptime-kuma:
      url: https://k3rnelpan1c-dev.github.io/uptime-kuma-helm
      name: uptime-kuma
      type: helm
    velero:
      url: https://vmware-tanzu.github.io/helm-charts
      name: vmware-tanzu
      type: helm

redis-ha:
  enabled: false
  additionalAffinities:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: node-role.kubernetes.io/control-plane
            operator: DoesNotExist
          - key: kubernetes.io/arch
            operator: In
            values: 
            - 'amd64'
  haproxy:
    additionalAffinities:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: node-role.kubernetes.io/control-plane
              operator: DoesNotExist
            - key: kubernetes.io/arch
              operator: In
              values: 
              - 'amd64'