global:
  envFrom:
  - secretRef:
      name: authentik-secrets
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
  env:
  - name: AUTHENTIK_POSTGRESQL__SSLROOTCERT
    value: /etc/postgres-ca/ca.crt
  - name: AUTHENTIK_POSTGRESQL__CONN_MAX_AGE
    value: "0"
  volumes:
  volumes:
  - name: cnpg-ca
    secret:
      secretName: cnpg-ca
  volumeMounts:
  - name: cnpg-ca
    mountPath: /etc/postgres-ca
    readOnly: true

authentik:
  email:
    host: mail.smtp2go.com
    port: 587
    use_tls: true
    from: authentik@ucdialplans.com
  postgresql:
    host: pooler-home-rw.cnpg.svc.cluster.local
    port: 5432
    name: authentik
  redis:
    host: redis-service.redis.svc.cluster.local

server:
  containerSecurityContext:
    runAsNonRoot: true
    readOnlyRootFilesystem: false
    allowPrivilegeEscalation: false
    seccompProfile:
      type: RuntimeDefault
    capabilities:
      drop:
      - ALL
  route:
    main:
      enabled: true
      parentRefs:
      - name: tls
        namespace: cilium
        sectionName: https
      hostnames: 
      - authentik.ucdialplans.com