global:
  fullnameOverride: "smarter-device-manager"

config: |
  - devicematch: ^ttyUSB.*$
    nummaxdevices: 5
  - devicematch: ^bus.*$
    nummaxdevices: 20
  - devicematch: ^*tun$
    nummaxdevices: 10
securityContext:
  capabilities:
    drop: ["ALL"]
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
resources:
  requests:
    cpu: 1m
    memory: 15Mi
  limits:
    # cpu: 100m
    memory: 20Mi
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: node-role.kubernetes.io/control-plane
          operator: DoesNotExist
        - key: kubernetes.io/arch
          operator: In
          values: 
          - "amd64"