installCRDs: true    # Don't override newer CRDs
operatorConfig:
  hostname: 'tailscale-operator-home'
  resources:
    requests:
      cpu: 10m
      memory: 50Mi
    limits:
      cpu: 80m
      memory: 60Mi  
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: node-role.kubernetes.io/control-plane
            operator: DoesNotExist
          - key: kubernetes.io/arch
            operator: In
            values: 
            - 'amd64'
proxyConfig:
  defaultProxyClass: "run-on-worker"
  labels:
    tailscale.com/proxy-class: "run-on-worker"