---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: emailupdate
  namespace: ucdialplans
spec:
  schedule: "0 11 * * 1-5"  # 11:00 AM GMT Monday-Friday
  suspend: false
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          automountServiceAccountToken: false
          containers:
          - name: emailupdate
            image: docker.io/curlimages/curl:8.17.0
            imagePullPolicy: IfNotPresent
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              runAsNonRoot: true
              runAsUser: 1000
              runAsGroup: 100
              seccompProfile:
                type: RuntimeDefault
              capabilities:
                drop: ["ALL"]
            command:
            - /bin/sh
            - -c
            - echo "$(date +%F_%T) Checking rulesets for updates..." &&
              curl --location --insecure --request POST "https://www.ucdialplans.com/EmailUpdates.aspx" --form "userID2=$MS_ACCOUNTID" &&
              echo "$(date +%F_%T) Finished!"
            resources:
              requests:
                cpu: 100m
                memory: 300Mi
              limits:
                # cpu: 300m
                memory: 300Mi
            env:
            - name: MS_ACCOUNTID
              valueFrom:
                secretKeyRef:
                  name: credentials
                  key: ms-account-id
          dnsConfig:
            options:
              - name: ndots
                value: "1"