---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: ucdialplans-statupdate
  namespace: ucdialplans
spec:
  schedule: "0 */12 * * *"  # Once every 12 hours
  suspend: false 
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            cnpg-client: "true"
        spec:
          dnsPolicy: ClusterFirstWithHostNet
          automountServiceAccountToken: false
          restartPolicy: Never
          containers:
          - name: ucdialplans-statupdate
            image: ghcr.io/cloudnative-pg/postgresql:18.2-minimal-trixie
            imagePullPolicy: IfNotPresent
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              runAsNonRoot: true
              runAsUser: 26
              runAsGroup: 26
              seccompProfile:
                type: RuntimeDefault
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 200m
                memory: 400Mi
              limits:
                # cpu: 200m
                memory: 400Mi
            env:
            - name: TZ
              value: "America/Toronto"
            - name: PGHOST
              value: "home-rw.cnpg.svc.cluster.local"
            - name: PGDATABASE
              valueFrom:
                secretKeyRef:
                  name: credentials
                  key: DB_DATABASE
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: credentials
                  key: DB_USERNAME
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: credentials
                  key: DB_PASSWORD
            volumeMounts:
            - name: statupdate-script
              mountPath: /scripts/statupdate.sql
              subPath: statupdate.sql
            command: 
            - /bin/sh
            - -c
            - echo "$(date +%F_%T) Updating UCDialplans.com statistics..." &&
              psql -f /scripts/statupdate.sql &&
              echo "$(date +%F_%T) Finished!"
          volumes:
          - configMap:
              items:
              - key: statupdate.sql
                path: statupdate.sql
              name: statupdate-script
            name: statupdate-script