# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: plex-activity-monitor
#   namespace: media-tools
# data:
#   plex-activity-monitor.sh: |
#     #!/bin/sh
#     currentDate=`date`
#     echo "STARTING on $currentDate"
#     # Logfile
#     PLEX_LOG=/config/Library/Application\ Support/Plex\ Media\ Server/Logs/Plex\ Media\ Server.log

#     # Wait 10 seconds and verify that we're looking at the right log file
#     sleep 10

#     if grep -q "Listening on port 32400" "$PLEX_LOG"
#     then
#         echo 'Looking at current file'
#     else
#         echo 'Not looking at latest file. Exiting'
#         exit 1
#     fi

#     tail -F "$PLEX_LOG" | while read LINE; do
#       echo $LINE | grep -E "^.*DEBUG - Request: \[192.168.(4.(\d|\d\d)|1.(2|1[1-9]\d)):\d{5}.*(GET /media/providers.*Signed-in Token|GET /video/:/transcode/universal/(start|decision)).*$" && echo "ACTIVITY DETECTED" | curl -sk -X POST http://homeassist-service.homeassist.svc.cluster.local:8123/api/webhook/mediapc-power-control-urlrequest-YFZlHKL8BXgtKZpfJMfhc8G-
#     done

# ---
# kind: ConfigMap
# apiVersion: v1
# metadata:
#   name: clusterplex-pms-config
#   namespace: media-tools
#   labels:
#     app.kubernetes.io/name: clusterplex-pms-config
#     app.kubernetes.io/part-of: plex
# data:
#   VERSION: docker
#   TZ: America/Toronto
#   PGID: "1000"
#   PUID: "1000"
#   DOCKER_MODS: 'ghcr.io/pabloromeo/clusterplex_dockermod:latest'
#   ORCHESTRATOR_URL: 'http://clusterplex-orchestrator:3500'
#   PMS_SERVICE: "plex-service"
#   PMS_PORT: "32400"
#   TRANSCODER_VERBOSE: '1'
#   TRANSCODE_OPERATING_MODE: remote # both
#   LOCAL_RELAY_ENABLED: '1'
#   LOCAL_RELAY_PORT: "32499"

# ---
# kind: ConfigMap
# apiVersion: v1
# metadata:
#   name: clusterplex-orchestrator-config
#   namespace: media-tools
#   labels:
#     app.kubernetes.io/name: clusterplex-orchestrator-config
#     app.kubernetes.io/part-of: plex
# data:
#   TZ: America/Toronto
#   LISTENING_PORT: '3500'
#   WORKER_SELECTION_STRATEGY: LOAD_TASKS

# ---
# kind: ConfigMap
# apiVersion: v1
# metadata:
#   name: clusterplex-worker-config
#   namespace: media-tools
#   labels:
#     app.kubernetes.io/name: clusterplex-worker-config
#     app.kubernetes.io/part-of: plex
# data:
#   TZ: America/Toronto
#   PGID: "1000"
#   PUID: "1000"
#   VERSION: docker
#   #DOCKER_MODS: 'ghcr.io/pabloromeo/clusterplex_worker_dockermod:latest'
#   ORCHESTRATOR_URL: 'http://clusterplex-orchestrator:3500'
#   LISTENING_PORT: '3501'
#   STAT_CPU_INTERVAL: '10000'
#   EAE_SUPPORT: '1'
#   FFMPEG_HWACCEL: 'vaapi'