apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: external-secrets
  repo: https://charts.external-secrets.io
  version: 0.20.4
  releaseName: external-secrets
  namespace: external-secrets
  valuesFile: ../../base/values.yaml
resources:
- ../../base