{{- if and (not .Values.disableHTTPRoute) .Values.service }}
{{- $name := .Values.nameOverride | default .Release.Name }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $name }}
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
  - name: tls
    namespace: cilium
    sectionName: https
  hostnames:
  - {{ .Values.httpRouteNameOverride | default (printf "%s.ucdialplans.com" .Release.Name) }}
  {{- if .Values.extraHTTPRouteHostnames }}
  {{- range .Values.extraHTTPRouteHostnames }}
  - {{ . }}
  {{- end }}
  {{- end }}
  rules:
  - backendRefs:
    - name: {{ $name }}-service
      namespace: {{ .Release.Namespace }}
      kind: Service
      port: {{ .Values.service.port }}
    {{- if .Values.httpRouteFilters }}
    filters:
    {{- toYaml .Values.httpRouteFilters | nindent 4 }}
    {{- end }}    
{{- end }}