{{- $name := .Values.nameOverride | default .Release.Name }}
{{- if .Values.service }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}-service
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ $name }}
    {{- if .Values.service.extraLabels }}
    {{- toYaml .Values.service.extraLabels | nindent 4 }}
    {{- end }}
    {{- if .Values.service.annotations }}
  annotations: 
    {{- toYaml .Values.service.annotations | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.service.type | default "ClusterIP" }}
  {{- if .Values.service.externalTrafficPolicy }}
  externalTrafficPolicy: {{ .Values.service.externalTrafficPolicy }}
  {{- end }}
  selector:
    app: {{ $name }}
  ports:
    - port: {{ .Values.service.port }}
      protocol: TCP
      appProtocol: http
      targetPort: http
      name: web
    {{- range .Values.extraPorts }}
    - port: {{ .port }}
      protocol: {{ .protocol | default "TCP" }}
      targetPort: {{ .targetPort }}
      name: {{ .name }}
    {{- end }}
{{- end }}

# Tailscale Service
{{- if .Values.tailscale }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.tailscale.name }}
  namespace: {{ .Release.Namespace }}
  annotations:
    tailscale.com/tailnet-fqdn: cloud-{{ $name }}.tailb7050.ts.net
    tailscale.com/hostname: {{ .Values.tailscale.name }}
    tailscale.com/proxy-class: "default"
spec:
  externalName: {{ .Values.tailscale.name }}
  type: ExternalName
{{- end }}

# OAuth2 Proxy Service
{{- if .Values.oidc.enabled | default false }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}-oauth-service
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ $name }}
    app.kubernetes.io/name: {{ $name }}
    {{- if .Values.extraLabels }}
      {{- toYaml .Values.extraLabels | nindent 4 }}
    {{- end }}
spec:
  ports:
  - name: https-web
    port: 4433
    protocol: TCP
    targetPort: oauth-http
  selector:
    app: {{ $name }}
  type: ClusterIP
{{- end }}