global:
  domain: argocd.ucdialplans.com
redis:
  enabled: false
externalRedis:
  host: redis-service.redis.svc.cluster.local
  existingSecret: redis-credentials
server:
  service:
    type: LoadBalancer
    annotations:
      lbipam.cilium.io/ips: 192.168.10.5
      external-dns.alpha.kubernetes.io/hostname: argocd-server.ucdialplans.com

notifications:
  argocdUrl: "https://argocd.ucdialplans.com"
  subscriptions:
    # subscription for issues
    - recipients:
      - slack:home-argocd-alerts
      triggers:
      - on-health-degraded
      - on-sync-failed
      - on-sync-status-unknown
    # subscription for updates
    # - recipients:
    #   - slack:home-argocd-updates
    #   triggers:
    #   - on-sync-succeeded
