image:
  pullPolicy: Always
persistence:
  size: 1Gi
  storageClass: nfs-csi
  existingClaim: nfs-portainer
service:
  type: ClusterIP
nodeSelector:
  storage: longhorn
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: node-role.kubernetes.io/control-plane
          operator: DoesNotExist
        - key: kubernetes.io/arch
          operator: In
          values: 
          - "amd64"
resources:
  requests:
    cpu: 2m
    memory: 25Mi
  limits:
    # cpu: 400m
    memory: 50Mi

    
