apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: csi-driver-nfs
  repo: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
  version: 4.13.1
  releaseName: csi-drivers
  namespace: kube-system
  valuesFile: ../../base/values.yaml
resources:
- ../../base