appKind: Deployment
image:
  repository: fosrl/newt
  tag: 1.6.0
  registry: docker.io
replicas: 1
priorityClassName: high-priority
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  runAsNonRoot: false
  # runAsUser: 1000
  # runAsGroup: 100
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop: ["ALL"]
env:
- name: TZ
  value: "America/Toronto"
envFrom:
- secretRef:
    name: newt-config
resources:
  requests:
    cpu: 1m
    memory: 45Mi
  limits:
    memory: 100Mi
disableHTTPRoute: true
livenessProbe: false