image:
  repository: adguard/adguardhome
  tag: v0.107.71
  registry: docker.io
priorityClassName: medium-priority
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 0
  seccompProfile:
    type: RuntimeDefault
env:
- name: TZ
  value: "America/Toronto"
resources:
  requests:
    cpu: 100m
    memory: 150Mi
  limits:
    # cpu: 2000m
    memory: 250Mi
livenessProbe:
  failureThreshold: 10
  httpGet:
    path: /login.html
    port: http
    scheme: HTTP
  initialDelaySeconds: 10
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 5
readinessProbe:
  failureThreshold: 3
  httpGet:
    path: /login.html
    port: http
    scheme: HTTP
  initialDelaySeconds: 10
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 5
