nameOverride: moneymate-backend
image:
  repository: moneymate/backend
  tag: latest
  registry: registry.ucdialplans.com
  pullPolicy: Always
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 0
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop: ["ALL"]
envFrom:
- configMapRef:
    name: env-vars-backend
- secretRef:
    name: env-secrets
resources:
  requests:
    cpu: 10m
    memory: 60Mi
  limits:
    memory: 100Mi
service:
  port: 3001
livenessProbe: false
disableHTTPRoute: true

