image:
  repository: redis/redisinsight
  tag: 3.0.3
  registry: docker.io
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop: ["ALL"]
resources:
  requests:
    cpu: 10m
    memory: 100Mi
  limits:
    memory: 500Mi
service:
  port: 5540
livenessProbe: false