apiVersion: tailscale.com/v1alpha1
kind: ProxyClass
metadata:
  name: default
spec:
  statefulSet:
    pod:
      tailscaleContainer:
        resources:
          requests:
            cpu: 30m
            memory: 30Mi
          limits:
            # cpu: 100m
            memory: 100Mi
            smarter-devices/net_tun: "1"

