operatorConfig:
  hostname: "tailscale-operator-home"
  image:
    repository: "ghcr.io/tailscale/k8s-operator"
    tag: "unstable-v1.93.86"
    pullPolicy: IfNotPresent
proxyConfig:
  defaultProxyClass: "default"
  image:
    repository: "ghcr.io/tailscale/tailscale"
    tag: "unstable-v1.93.86"
    pullPolicy: IfNotPresent
